{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="view">
    <section class="page page--static">
        
        <div class="page__title">
            <h1 class="page__title-main">
                <span>Browse Wall Art by </span>
                <span>{{ page_structure.filter_by }}</span>
            </h1>
            <h4 class="page__title-sub">
                <span>alternatively search by </span>
                <a href="{% url 'index_no_intro' page_structure.others.0 %}"><span>{{ page_structure.others.0 }}</span></a><span>,</span>
                <a href="{% url 'index_no_intro' page_structure.others.1 %}"><span>{{ page_structure.others.1 }}</span></a><span>&nbsp;or</span>
                <a href="{% url 'index_no_intro' page_structure.others.2 %}"><span>{{ page_structure.others.2 }}</span></a>

                <!-- {% for other in page_structure.others %}
                {% if other == page_structure.others.2 %}
							<a href="{% url 'index_no_intro' other %}"><span>{{ other }}</span></a>
							{% else %}
							<a href="{% url 'index_no_intro' other %}"><span>{{ other }}</span></a><span>,&nbsp;</span>
                {% endif %}
                {% endfor %}                 -->
            </h4>
        </div>

        <ul class="grid" >
            <li class="grid__item" >
                <a class="grid__link" href="#">
                    <img class="grid__image" src="{% static 'images/animals_category.jpg' %}" alt="Animals Category image">
                    <h3 class="grid__item-title">Animals</h3>
                </a>
            </li>
            <li class="grid__item" >
                <a class="grid__link" href="#">
                    <img class="grid__image" src="{% static 'images/abstract_category.jpg' %}" alt="Abstract Category image">
                    <h3 class="grid__item-title">Abstract</h3>
                </a>
            </li>
            <li class="grid__item" >
                <a class="grid__link" href="#">
                    <img class="grid__image" src="{% static 'images/architecture_category.jpg' %}" alt="Architecture Category image">
                    <h3 class="grid__item-title">Architecture</h3>
                </a>
            </li>
            <li class="grid__item" >
                <a class="grid__link" href="#">
                    <img class="grid__image" src="{% static 'images/food_category.jpg' %}" alt="Food & Drink Category image">
                    <h3 class="grid__item-title">Food & Drink</h3>
                </a>
            </li>
            <li class="grid__item" >
                <a class="grid__link" href="#">
                    <img class="grid__image" src="{% static 'images/flowers_category.jpg' %}" alt="Flowers Category image">
                    <h3 class="grid__item-title">Flowers</h3>
                </a>
            </li>
            <li class="grid__item" >
                <a class="grid__link" href="#">
                    <img class="grid__image" src="{% static 'images/painting_category.jpg' %}" alt="Painting Category image">
                    <h3 class="grid__item-title">Painting</h3>
                </a>
            </li>
            <li class="grid__item" >
                <a class="grid__link" href="#">
                    <img class="grid__image" src="{% static 'images/other_category.jpg' %}" alt="Other Category image">
                    <h3 class="grid__item-title">Other</h3>
                </a>
            </li>
        </ul>

    </section>

</div>

	<script>
		// just for testing
        const toLog = "{{ page_structure.others.2 }}"; 
        console.log("PRINT THIS: ", toLog);
	</script>

{% endblock %}