{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="view">
	<section class="page page--static">

		<div class="page__title">
			<div class="row">
				<div class="col-12 col-md-8 mt-2">
					<h1 class="page__title-main">
						<span>Browse Wall Art by </span>
						<span>{{ page_structure.filter_by }}</span>
					</h1>
					<h4 class="page__title-sub">
						<span>alternatively search by </span>
						<a href="{% url 'index_no_intro' page_structure.others.0 %}"><span>{{ page_structure.others.0 }}</span></a>
                        <span>,</span>
						<a href="{% url 'index_no_intro' page_structure.others.1 %}"><span>{{ page_structure.others.1 }}</span></a>
                        <span>&nbsp;or</span>
						<a href="{% url 'index_no_intro' page_structure.others.2 %}"><span>{{ page_structure.others.2 }}</span></a>
					</h4>
				</div>
				<div class="d-none d-md-block col-4">
					<div class="cta">
						<div class="cta-title">
							<span>Want to</span>
							<a href="{% url 'index_no_intro' page_structure.filter_by %}" class="cta-btn">earn</a>
							<span>money with your artwork?</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<ul class="grid">
			<li class="grid__item">
				<a class="grid__link" href="{% url 'filtered_products' page_structure.filter_by 'animals' %}">
					<img class="grid__image" src="{% static 'images/animals_category.jpg' %}" alt="Animals Category image">
					<h3 class="grid__item-title">Animals</h3>
				</a>
			</li>
			<li class="grid__item">
				<a class="grid__link" href="#">
					<img class="grid__image" src="{% static 'images/abstract_category.jpg' %}" alt="Abstract Category image">
					<h3 class="grid__item-title">Abstract</h3>
				</a>
			</li>
			<li class="grid__item">
				<a class="grid__link" href="#">
					<img class="grid__image" src="{% static 'images/architecture_category.jpg' %}" alt="Architecture Category image">
					<h3 class="grid__item-title">Architecture</h3>
				</a>
			</li>
			<li class="grid__item">
				<a class="grid__link" href="#">
					<img class="grid__image" src="{% static 'images/food_category.jpg' %}" alt="Food & Drink Category image">
					<h3 class="grid__item-title">Food & Drink</h3>
				</a>
			</li>
			<li class="grid__item">
				<a class="grid__link" href="#">
					<img class="grid__image" src="{% static 'images/flowers_category.jpg' %}" alt="Flowers Category image">
					<h3 class="grid__item-title">Flowers</h3>
				</a>
			</li>
			<li class="grid__item">
				<a class="grid__link" href="#">
					<img class="grid__image" src="{% static 'images/painting_category.jpg' %}" alt="Painting Category image">
					<h3 class="grid__item-title">Painting</h3>
				</a>
			</li>
			<li class="grid__item">
				<a class="grid__link" href="#">
					<img class="grid__image" src="{% static 'images/other_category.jpg' %}" alt="Other Category image">
					<h3 class="grid__item-title">Other</h3>
				</a>
			</li>
		</ul>

		<!-- CTA for mobile/portrait devices -->
		<div class="row d-block d-md-none m-3">
			<div class="cta">
				<div class="cta-title">
					<span>Want to</span>
					<a href="{% url 'index_no_intro' page_structure.filter_by %}" class="cta-btn">earn</a>
					<span>money with your artwork?</span>
				</div>
			</div>
		</div>

        <!-- The block for delivery / price / star rating -->
        <div class="row info-line container">
            <div class="col-12 col-md-4">
                <p><i class="fas fa-truck"></i>&nbsp;free delivery over £35</p>
            </div>
            <div class="col-12 col-md-4">
                <p><i class="far fa-money-bill-alt"></i>&nbsp;from as low as £9.99</p>
            </div>
            <div class="col-12 col-md-4">
                <p><i class="far fa-star"></i>&nbsp;What our customers think</p>
            </div>
        </div>

        <hr style="width: 300px; height: 1px; border: solid 2px red;">

        <!-- Fans love us section -->
        <h1>Future FANS LOVE US section</h1>

        <hr style="width: 300px; height: 1px; border: solid 2px red;">

        <!-- Print technology descriptions -->
        <h1>Future PRINT technologies section</h1>
        
        <hr style="width: 300px; height: 1px; border: solid 2px red;">

        <h1>FOOTER</h1>


	</section>

</div>

<script>
	// just for testing
        const toLog = "{{ page_structure.others.2 }}"; 
        console.log("PRINT THIS: ", "{{page_structure.filter_by}}");
</script>

{% endblock %}