<!-- The page to show when the user clicked on the 'reset password' button -->
{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Recover password{% endblock %}

{% block content %}
<h5>Don’t worry, happens to the best of us...</h5>
<p>Please enter your email address</p>

{% csrf_token %}
{{ form.email.errors }}

<p>
	<label for="id_email">Email address:</label>
	{{ form.email }}
	<button>email me a recovery link</button>
</p>
{% endblock %}