<!-- The page to show when the user clicked on the 'email me a recovery link' button -->
{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}
<h3>Password reset sent</h3>
<p>An email will be sent with further instructions if account with the provided email address exists.</p>
<p>Check your inbox and follow the instructions in the email.</p>
<p>If you haven't received the email, check your spam folder, or make sure you provide the email address that you used when registering on our site.</p>

{% endblock %}