<!-- THIS PAGE IS probably UNNECCESSARY IN A PROPER UX, WE CAN LOG THEM IN STRAIGHT AWAY -->
<!-- The page to show when the new password has been submitted -->
{% extends 'base.html' %}

{% block page_title %} | Password Reset Complete{% endblock %}

{% block content %}

<div class="container page-wrapper p-2 p-md-5">

	<div class="container form-box">
		<p>Your password has been changed, you are logged in.</p>
		<button class="btn btn-outline-info">LOGOUT</button>
		<button class="btn btn-outline-info">HOME</button>
	</div>
</div>
{% endblock %}