<!-- The page wghere the user can provide new password. - The link from the sent email brings them here -->
<!-- The page to show when the user clicked on the 'email me a recovery link' button -->
{% extends 'base.html' %}

{% block page_title %} | Password Reset Confirmation{% endblock %}

{% block content %}

{% if validlink %}


<div class="container page-wrapper p-2 p-md-5">

	<div class="container form-box">
		<p>Please enter your new password.</p>
		<form method="post">
			{% csrf_token %}
			<fieldset class="module aligned m-3">
				<div class="form-row field-password1">
					{{ form.new_password1.errors }}
					<label for="id_new_password1">New password:</label>
					<input type="password" name="new_password1" required id="id_new_password1"/>
				</div>

				<button class="btn btn-outline-info" type="submit">Change my password</button>
			</fieldset>
		</form>
	</div>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>

{% endif %}

{% endblock %}