{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Upload{% endblock %}

{% block content %}

<div class="container">
    <h1 class="artist-form-title mt-1 mt-md-4">Create your Artist profile</h1>
    <div class="row">
        <form action="{% url 'artist_profile' %}" method="post">
            {% csrf_token %}
            {{ artist_form.as_p }}
            <input class="artist-form-submit btn btn-primary" type="submit" value="Save">
        </form>
    </div>
</div>

{% endblock %}