{% extends 'base.html' %}

{% block page_title %}Upload{% endblock %}

{% block content %}

<div class="row container-fluid edit-container">

	<!-- Part 1 of 3 -- The picture displayed and a 'replace' button -->
	<div class="col-12 col-md-4">
		<div class="edit-image">
			<img src="" alt="">
        </div>
		<div class="edit-replace-file">
			<form action="" method="post">
				<input type="file" name="name_search">
				<button class="btn btn-secondary" type="submit">Upload</button>
			</form>
		</div>
	</div>

    <!-- Part 2 of 3 -- Dropdowns -->
	<div class="col-12 col-md-4">
		<div class="edit-category">
			<label for="select-category">Pick a category:</label>
			<select id="select-category">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
		</div>
	</div>

    <!-- Part 3 of 3 -- #hashtags -->
    <div class="col-12 col-md-4">
        <div class="edit-hashtags">
            <!-- two separate containers for selected and other already existing hashtags -->
            <div class="edit-selected-hashtags">
                <p>selected hashtags here</p>
            </div>
            <div class="edit-other-hashtags">
                <p>other hashtags here</p>
            </div>
        </div>
    </div>

</div>



{% endblock %}