{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %} | Products{% endblock %}

{% block content %}

<div class="container-fluid page-wrapper">
    <div class="row row-flex mx-3">

        <div class="container-fluid mx-auto">

            <section class="row filtering-row my-3">
            
                <div class="filter-dropdown col-12 col-sm-6 col-md-3" style="border: 1px solid red;">
                    <!-- SELECTING SORT CRITERIA -->
                    <form class="input-group mb-3" action="{% url 'filtered_products' %}" method="GET"> 
                        <div class="form-group">
                        <!-- action=" url 'filtered_products' data.filter_by item " THIS IS THE SAME URL PATTERN FOR EVERY DROPDOWN -->
                            <div class="form-group row">
                                <input class="form-control" type="hidden" type="text" value="{{ data.filter_group }}" id="filter_group">
                            </div>
                            <div class="form-group row">
                                <input class="form-control" type="hidden" type="text" value="{{ data.filter_name }}" id="filter_name">
                            </div>

                            <div class="form-group row">
                                <select class="form-control filter_group-select" id="sort_by" >
                                    {% if data.sort_by == 'num_of_views' %}
                                        <option selected value="num_of_views">Most Viewed</option>
                                        {% else %}
                                        <option value="num_of_views">Most Viewed</option>
                                    {% endif %}
                                    {% if data.sort_by == 'num_of_likes' %}
                                        <option selected value="num_of_likes">Most Liked</option>
                                        {% else %}
                                        <option value="num_of_likes">Most Liked</option>
                                    {% endif %}
                                    {% if data.sort_by == 'date_uploaded' %}
                                        <option selected value="date_uploaded">Most Recent</option>
                                        {% else %}
                                        <option value="date_uploaded">Most Recent</option>
                                    {% endif %}
                                    {% if data.sort_by == 'num_of_orders' %}
                                        <option selected value="num_of_orders">Most Purchased</option>
                                        {% else %}
                                        <option value="num_of_orders">Most Purchased</option>
                                    {% endif %}
                                    {% if data.sort_by == 'rating' %}
                                        <option selected value="rating">Highest Rated</option>
                                        {% else %}
                                        <option value="rating">Highest Rated</option>
                                    {% endif %}

                                
                                </select>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>

            </section>

            <section class="row image-display">
                <div class="image-display-container mx-2">
                    {% for product in data.products %}
                    <div class="products-image-box mb-3">
                        <a href="{% url 'product_details' product.id %}">
                            <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{product.title}} image" class="products-image">
                        </a>
                        <div class="overlay overlay-title">
                            <p class="overlay-icon">
                                <span class="overlay-title-text">{{ product.title }}</span>
                            </p>
                        </div>
                        <div class="overlay overlay-rate">
                            <a href="{% url 'rate_artwork' product.id %}" class="overlay-icon" title="Rate Artwork">
                                <i class="far fa-thumbs-up"></i>
                            </a>
                        </div>
                        <div class="overlay overlay-cart">
                            <form method="post" class="overlay-icon" title="Add To Shopping Cart" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                                <input type="hidden" name="name" value="value" /> 
                                <a onclick="this.parentNode.submit();">
                                    <i class="fas fa-cart-plus"></i>
                                </a>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>

<script>
var filter_group = "{{ data.filter_group }}"
console.log(filter_group)
</script>

{% endblock %}