{% extends 'base.html' %}

{% block page_title %}Product Details{% endblock %}

{% block content %}

<div class="container-fluid ">
	<div class="row details-container">
		<div class="col-12 col-md-7">
			<div class="row details-title">
				<div class="col-12 col-md-5">
					<h4>Artist: {{ pass_to_template.selected_prod.artist }}</h4>
				</div>
				<div class="col-12 col-md-7">
					<h4>{{ pass_to_template.selected_prod.title }}</h4>
				</div>
			</div>
			<!-- Image and Category, Room, Hashtag info -->
			<div class="details-image-box col-12">
				<img class="details-image" src="{{ MEDIA_URL }}{{ pass_to_template.selected_prod.image }}" alt="{{ pass_to_template.selected_prod.title }}">
			</div>
				<div class="col-12">
					<div class="details-category-room row">
						<!-- Category and Rooms associated with the artwork -->
						<div class="details-category">
							<span class="details-small-title">Category:&nbsp</span>
							<span>{{ pass_to_template.selected_prod.category }}</span>
						</div>
						<div class="details-room">
							<span class="details-small-title">Room(s):&nbsp</span>
							{% for room in pass_to_template.selected_prod.room.all %}
							{% if room == pass_to_template.selected_prod.room.all.last %}
							<span>{{ room }}</span>
							{% else %}
							<span>{{ room }},&nbsp;</span>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="details-hashtag-group">
						<span class="details-hashtag-title">Hashtag(s):&nbsp</span>
						{% for hash in pass_to_template.hashtags %}
						<span class="details-hashtag">{{ hash.hashtag }}</span>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-5 second-container">
				<!-- Sizes, Price and other details -->
				
                <div class="details-size-header col-12">
					<h3>Available sizes</h3>
				</div>
				
                <div class="details-size col-12">
					<h4>Here come the sizes</h4>
				</div>

				<div class="details-description col-12">
					<p>{{ pass_to_template.selected_prod.description }}</p>
				</div>

				<div class="col-12">
					<div class="details-techn-and-rating row">
						<!-- Available technologies and customer rating for the artwork -->
						<div class="details-technologies">
							<span class="details-small-title">Available Technologies:&nbsp</span>
							<div class="form-group col-12">
								<select required class="form-control" id="technology" name="available_techn">
                                    <option selected disabled class="details-technologies-list">Select Technology</option>
                                    {% for technology in pass_to_template.selected_prod.available_technologies.all %}
                                    <option class="details-technologies-list">{{ technology.technology_name }}</option>    
                                    {% endfor %}    
                                </select>
							</div>
						</div>

						<div class="details-rating">
							<span class="details-small-title">Average Rating:&nbsp</span>
							<div class="details-stars">
								<div class="stars-outer">
									<div class="stars-inner" id="stars"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

                <div class="col-12 details-price-and-buttons">
                    <!-- Price -->
                    <p class="detalis-price"><strong>£{{ pass_to_template.selected_prod.base_repro_fee }}</strong></p>
                    <div class="details-btn-container">
                    <button class="btn btn-warning btn-lg" type="submit">
                        <span>Update Cart</span>
                    </button>
                    </div>
                </div>

			</div>
		</div>
	</div>

	<script>
		// setting the with of the star-inner class to display the necessary number of stars
		var starsElement = document.querySelector(`.stars-inner`)
        const starPercentage = "{{ pass_to_template.ratings_data.ratings_percent }}"; 
        const starPercString = starPercentage + '%';
        const foo = "{{ cart_items }}"
        console.log("Cart.items(): ", foo);
        starsElement.style.width = starPercString; 
	</script>

	{% endblock %}