{% extends 'base.html' %}

{% block page_title %} | Product Details{% endblock %}

{% block content %}
<div class="container page-wrapper">
    <div class="row details-container mx-2">
        <div class="col-12 col-md-7">
            <div class="row details-title">
                <div class="col-12 col-md-5">
                    <h4>Artist: {{ pass_to_template.selected_prod.artist }}</h4>
                </div>
                <div class="col-12 col-md-7">
                    <h4>{{ pass_to_template.selected_prod.title }}</h4>
                </div>
            </div>
            <div class="row">
                <!-- Image and , , Hashtag info -->
                <div class="details-image-box col-12">
                    <img class="details-image" src="{{ MEDIA_URL }}{{ pass_to_template.selected_prod.image }}" alt="{{ pass_to_template.selected_prod.title }}">
                </div>
                
                <div class="col-12">
                    <div class="details-category-room row">
                        <!-- Category and Rooms associated with the artwork -->
                        <div class="details-category">
                            <!-- Category -->
                            <span class="details-small-title">Category:&nbsp;</span>
                            <span>{{ pass_to_template.selected_prod.category }}</span>
                        </div>
                        <div class="details-room">
                            <!-- Rooms -->
                            <span class="details-small-title">Room(s):&nbsp;</span>
                            {% for room in pass_to_template.selected_prod.room.all %}
                            {% if room == pass_to_template.selected_prod.room.all.last %}
                            <span>{{ room }}</span>
                            {% else %}
                            <span>{{ room }},&nbsp;</span>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-12">
                <!-- Likes, Rating, Views, Orders -->
                    <div class="details-likes-ratings-views row">
                        <div class="details-likes">
                            <!-- Likes -->
                            <span class="details-small-title">Likes:&nbsp;</span>
                            <span>{{ pass_to_template.selected_prod.num_of_likes }}</span>
                        
                        </div>

                        <div class="details-views">
                        
                            <!-- Category -->
                            <span class="details-small-title">Views:&nbsp;</span>
                            <span>{{ pass_to_template.selected_prod.num_of_views }}</span>
                        
                        </div>

                        <div class="details-rating">
                            <!-- ratings displayed by showing the corresponding number of stars by the script at the end of this file  -->
                            <span class="details-small-title">Average Rating:&nbsp;</span>
                            <a href="{% url 'rate_artwork' pass_to_template.selected_prod.id %}" 
                                title="{{pass_to_template.ratings_data.ratings_average}} | Click here to rate!">
                                <div class="details-stars">
                                    <div class="stars-outer">
                                        <div class="stars-inner" id="stars"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="details-orders">
                        
                            <!-- Category -->
                            <span class="details-small-title">Bought:&nbsp;</span>
                            <span>{{ pass_to_template.selected_prod.num_of_orders }}</span>
                            <span>times</span>
                        
                        </div>
                    </div>
                </div>



                <div class="col-12">
                    <div class="details-hashtag-group">
                        <span class="details-hashtag-title">Hashtag:&nbsp;</span>
                        {% if pass_to_template.selected_prod.hashtag %}
                        <span class="details-hashtag">{{ pass_to_template.selected_prod.hashtag }}</span>
                        {% else %}
                        <span>No hastag added</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-5 second-container">
            <!-- Sizes, Price and other details -->
            <div class="row details-title">
                <div class="col-12">
                    <h4>Details</h4>
                </div>
            </div>
            <form action="{% url 'update_cart' pass_to_template.selected_prod.id %}" method="post">
                {% csrf_token %}   
                <div class="second-content row">
                    <div class="details-description col-12">
                        <span class="details-small-title">Artwork Description:</span>
                        <div class="details-description-box p-2" >
                            <p>{{ pass_to_template.selected_prod.description }}</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="details-size-techn-and-rating row pt-3">
                            <!-- Available sizes, technologies and customer rating for the artwork -->
                            
                                <div class="details-technologies">
                                    <span class="details-small-title">Available Sizes:</span>
                                    <div class="form-group col-12">

                                            <select required class="form-control" id="size" name="size">
                                                {% for size in pass_to_template.sizes.all %}
                                                {% if size == pass_to_template.sizes.0 %}
                                                <option selected class="details-technologies-list" value="">{{ size.size_name }}</option>
                                                {% else %}
                                                <option class="details-technologies-list">{{ size.size_name }}</option>    
                                                {% endif %}
                                                {% endfor %}    
                                            </select>
                                        
                                    </div>
                                </div>
                                <div class="details-technologies">
                                    <span class="details-small-title">Available Technologies:&nbsp;</span>
                                    <div class="form-group col-12">
                                        <select required class="form-control" id="technology" name="technology">
                                            <option value="" selected disabled class="details-technologies-list" >Select Technology</option> 
                                            {% for technology in pass_to_template.selected_prod.available_technologies.all %}
                                                <option class="details-technologies-list">{{ technology.technology_name }}</option>    
                                            {% endfor %}    
                                        </select>
                                        
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                    
                    <div class="details-quantity col-12 mx-auto">
                        <div class="form-group" style="border: 1px solid #888888;">
                            <label for="exampleInputAmount" class="sr-only bg-info">Quantity</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Qty</span>
                                </div>
                                <input name="quantity" id="exampleInputAmount" type="number" min="0" max="999" class="form-control" value="1">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 details-price-and-buttons">
                        <!-- Price -->
                        
                        <p class="detalis-price">£&nbsp;<strong id="price"></strong><span style="font-size: 0.8rem;">&nbsp;per item</span></p>
                        <!-- <p id="target-p"></p> -->
                        <div class="details-btn-container">
                            <button class="btn btn-warning btn-lg" type="submit">
                                <span>Update Cart</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // setting the with of the star-inner class to display the necessary number of stars
    var starsElement = document.querySelector(`.stars-inner`)
    const starPercentage = "{{ pass_to_template.ratings_data.ratings_percent }}"; 
    const starPercString = starPercentage + '%';
    starsElement.style.width = starPercString; 
    
    var sizeElement = document.getElementById('size');
    var techElement = document.getElementById('technology');
    var priceElement = document.getElementById('price');
    var selected_size, selected_tech;
    var ss, ls, tech_coeff;
    var base_repro_fee = "{{ pass_to_template.selected_prod.base_repro_fee }}";
    var price, repro_fee;

    priceElement.innerHTML = getPrice();
    
    function getPrice() {
        // take the size from the <select>
        selected_size = sizeElement.value;
        // extract the shorter and longer size dimensions
        ss = selected_size.split(" ")[0];
        ls = selected_size.split(" ")[2];
        // define the technologies coefficient from the tech <select>
        selected_tech = techElement.value;
        console.log(selected_tech);
        switch(selected_tech) {
            case "Photo Print": 
                tech_coeff = 1;
                break;
            case "Canvas Print": 
                tech_coeff = 2.1;
                break;
            case "Metal Print": 
                tech_coeff = 3.2;
                break;
            case "Acrylic Print": 
                tech_coeff = 1.4;
                break;
            case "Framed Print": 
                tech_coeff = 1.8;
                break;
            default:
                tech_coeff = 1;
        };
        repro_fee = parseFloat(base_repro_fee) + Math.round(( ls * ss ) / 300);
        var diagonal = Math.sqrt( ss * ss + ls * ls);
        price = Math.round( diagonal / 10 * 2 * tech_coeff + repro_fee ) - 0.01;
        return price;
    }


    // Event listeners for the drop down select boxes
    sizeElement.addEventListener("click", function(){
        priceElement.innerHTML = getPrice();
        }
    );

    techElement.addEventListener("click", function(){
        priceElement.innerHTML = getPrice();
        }
    );
    
    // just for debugging:
    const foo = "{{ cart_items }}"
    console.log("cart_items(): ", foo);
    
</script>

{% endblock %}