{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %} | Upload Artwork{% endblock %}

{% block style-tag %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}

<div class="container page-wrapper p-2 p-md-5">

    <div class="container">
        <!-- Row for the explanations content (Pricing, technologies, upload preocess) -->
        <div class="row">
            <div class="col-12">
                <h1>Start earning money, upload your photos!</h1>
            </div>
            <div class="col-12 text-container lead">
                <p>Upload your best images and you can earn some reproduction fee if someone wants to hang your artwork on their wall.
                You can determine the amount of the reproduction fee for every image, so it's entirely up to you how much money you can make.</p>
                <p>
                Use the below form to upload you image and set all its parameters. Chose an attractive title that best describes your subject. 
                One of the search options on the site is based on the title, you might want to use a good keyword. There is also a hashtag you 
                can add to your image, that's another keyword opportunity for you...
                </p>
                <p >... see more information and the detailed requirements under the form below.</p>
            </div>
        </div>

        <!-- The FORM -->
        <div class="row container-fluid edit-container">
            <form class="container-fluid edit-form" enctype="multipart/form-data" action="{% url 'file_upload' %}" method="post">
                <legend>Upload Your Artwork</legend>
                {% csrf_token %}
            
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-12 col-md-7 edit-form-groups">
                            <legend>Part one</legend>
                            {{ edit_form_one | as_bootstrap }}
                        </div>
                        <!-- adding hashtags -->
                        <div class="col-12 col-md-5">
                            <legend>Part two</legend>
                            <div class="edit-hashtags">
                                <!-- two separate containers for selected and other already existing hashtags -->
                                <div class="edit-selected-hashtags">
                                    {{ edit_form_three | as_bootstrap }}
                                </div>
                                
                            </div>

                            <input class="edit-form-submit btn btn-warning" type="submit" value="Upload">
                            <!-- Link to edit existing artwork -->
                            <div class="go-to-edit mx-auto p-2 p-md-5">
                                <p>
                                    <a class="btn btn-outline-info" title="Select the one You'd like to edit on Your Dashboard" href="{% url 'dashboard' %}">Or Edit Existing</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!-- Row for the requirements content (image- content, quality, resolution, aspect ratio; Creating profile requirements) -->
        <div class="row mt-2 mt-md-4">
            <div class="col-12">
                <h3 id="requirements">Requirements</h3>
            </div>
            <ul class="row">
                <li class="requirements-content-item">
                    <h4 class="col-12">Profile</h4>
                    <p class="col-12 col-md-11 offset-md-1 requirements-content-text">In order to upload images, you need an <strong> artist profile. </strong>Click on the 
                    PROFILE link in the navigation manu on the top of the page to access your profile. All this requires you to be logged 
                    in - as you already have realised it :)</p>
                </li>

                <li class="requirements-content-item">
                    <h4 class="col-12">Image Content</h4>
                    <p class="col-12 col-md-11 offset-md-1 requirements-content-text">Uploaded images may not contain visible trademarks, sensitive information or adult content. 
                    If there is any person identifiable on the image, you must provide the model’s written consent. Your image may not contain
                    artwork created by another artist (or anything that potentially infringes on intellectual property rights), unless the 
                    intention is reproduction. In this case you have to provide the consent of the artist concerned.</p>
                </li>
                <li class="requirements-content-item">
                    <h4 class="col-12">Image Quality</h4>
                    <p class="col-12 col-md-11 offset-md-1 requirements-content-text">It may seem obvious, but necessary to emphasize that image quality is of utmost importance. 
                    Nobody will want to decorate their home or premises with poor quality images. One of the most important characteristics of a 
                    photo is focus. Whatever the subject of your photo is, that is where you want to direct the viewer’s eye. You achieve it by 
                    focusing on the subject. In photographic terms it means the focal point needs to be on your subject. It needs to be sharp 
                    (not blurred, neither unintentionally soft) and have proper depth-of-field. Images with unintentional motion blur caused 
                    by either camera shake or subject movement are not acceptable.</p>
                </li>
                <li class="requirements-content-item">
                    <h4 class="col-12">Image Resolution</h4>
                    <p class="col-12 col-md-11 offset-md-1 requirements-content-text">Maximum feasible print size very much depends on the pixel resolution of the image. 
                    We highly recommend uploading your image in the largest possible – preferably the original – resolution, even 
                    if you performed some retouching. NOTE on image resolution during beta testing: we are limiting image file size (1 MB) 
                    until the general release, therefore you may want to balance image resolution and compression to preserve quality.</p>
                </li>
                <li class="requirements-content-item">
                    <h4 class="col-12">Image Aspect Ratio</h4>
                    <p class="col-12 col-md-11 offset-md-1 requirements-content-text">The system will automatically determine the aspect ratio of the uploaded image and assign the relevant 
                    print sizes accordingly. Therefore we highly recommend you to crop your image to one of the standard aspect ratios 
                    (square, 5:4, 4:3, ISO, 3:2, 16:9 or panorama), otherwise unwanted crop might occur.</p>
                </li>
            </ul>
        </div>

    </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var autocompleteElement = document.getElementById('id_hashtag')
    var mySource = {{ hashtags | safe }}
    // mySource = ["#ilovephotography", "#coffee", "#love", "#adorable", "#funny", "#totalawesomeness", "flower"]
    console.log(mySource)



    $( "#id_hashtag" ).autocomplete({
        source: mySource
    });


</script>

{% endblock %}