{% extends 'base.html' %}

{% block page_title %} | Upload Artwork{% endblock %}

{% block content %}

<div class="container">
	<!-- Row for the explanations content (Pricing, technologies, upload preocess) -->
	<div class="row">
		<div class="col-12">
			<h1>Start earning money, upload your photos!</h1>
		</div>
		<div class="col-12">
			<p>This section is for explaining how the site works. Pricing, technologies, upload preocess, etc</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nisi similique, iure error sunt
				suscipit perferendis est vel laborum dolores facere tempore aliquam ducimus doloribus at adipisci ipsa
				tempora distinctio?</p>
            <h6>See detailed requirements under the form below...</h6>
		</div>
	</div>

    <!-- The FORM -->
    <div class="row container-fluid edit-container">
        <form class="container-fluid edit-form" enctype="multipart/form-data" action="{% url 'file_upload' %}" method="post">
            <legend>Upload Your Artwork</legend>
            {% csrf_token %}
		
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="col-12 col-md-7 edit-form-groups">
                        <legend>Part one</legend>
                        {{ edit_form_one.as_p }}
                    </div>
                    <!-- adding hashtags -->
                    <div class="col-12 col-md-5">
                        <legend>Part two</legend>
                        <div class="edit-hashtags">
                            <!-- two separate containers for selected and other already existing hashtags -->
                            <div class="edit-selected-hashtags">
                                <p>selected hashtags here</p>
                                {{ edit_form_three }}
                            </div>
                            <div class="edit-other-hashtags">
                                <p>other hashtags here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input class="edit-form-submit btn btn-primary" type="submit" value="Upload">
        </form>
	</div>

	<!-- Link to edit existing artwork -->
	<div class="row">
		<div class="go-to-edit mx-auto p-2 p-md-5">
            <p>
                <a class="btn btn-warning" title="Select the one You'd like to edit on Your Dashboard" href="{% url 'dashboard' %}">Or Edit Existing</a>
            </p>
		</div>
	</div>



	<!-- Row for the requirements content (image- content, quality, resolution, aspect ratio; Creating profile requirements) -->
	<div class="row">
		<div class="col-12">
			<h2>Requirements</h2>
		</div>
		<ul class="row">
			<li class="row">
				<h3 class="col-12">Profile</h3>
				<p class="col-11 offset-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laboriosam
					voluptatum natus. Repellat repellendus
					saepe aliquid laudantium laborum? Et quisquam ipsam porro, quis minima consectetur error atque
					exercitationem suscipit adipisci.</p>
			</li>

			<li class="row">
				<h3 class="col-12">Image Content</h3>
				<p class="col-11 offset-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam repellat
					cumque
					architecto dolorem deserunt laborum
					recusandae voluptatum ipsa neque. Debitis in magni, possimus facilis qui consectetur nobis illum
					iusto
					libero?</p>
			</li>
			<li class="row">
				<h3 class="col-12">Image Quality</h3>
				<p class="col-11 offset-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aspernatur
					dignissimos. Deserunt accusamus facilis
					distinctio optio sint alias voluptatibus delectus maiores et asperiores voluptates ea minus, dolorem
					reiciendis pariatur ex.</p>
			</li>
			<li class="row">
				<h3 class="col-12">Image Resolution</h3>
				<p class="col-11 offset-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda
					necessitatibus ex eveniet, facere fugiat quisquam
					inventore veritatis suscipit tempora optio animi voluptate explicabo amet eos sapiente ab quis saepe
					dicta.</p>
			</li>
			<li class="row">
				<h3 class="col-12">Image Aspect Ratio</h3>
				<p class="col-11 offset-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem magni
					molestias
					sunt sed? Labore doloribus
					doloremque totam voluptatum inventore repellendus eligendi eius quod, nisi cumque, ad cum ut
					corrupti
					temporibus.</p>
			</li>
		</ul>
	</div>

</div>


{% endblock %}