body {
    background-color: bisque;
    padding-top: 5.5rem;
}

.form-box {
    box-shadow: 4px 6px 30px 8px rgba(0,0,0,0.3);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem; 
}

.errorlist {
    color: red;
    list-style-type: none;
}

.navbar {
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5rem;
    z-index: 1001;
    background-color: rgba(255, 255, 255, .7)
}

.navbar-brand {
    padding-top: 0;
    margin-right: 1rem;
}

.navbar-logo {
    height: 2.8rem;
}

.fa-shopping-cart {
    font-size: 1rem;
    /* margin-top: -3px; */
    /* margin-bottom: -3px; */
}


.message-line {
    margin: 0;
}


.display-link {
    text-decoration: underline;
    color: rgb(0, 119, 255);
}

.display-link:hover {
    font-weight: 900;
    color: rgb(0, 0, 255);
}

/* authentication */
.auth-container {
    margin-top: 1rem;
    padding: 1.5rem;
}

.auth-box {
    box-shadow: 4px 6px 30px 8px rgba(0,0,0,0.3);
    padding: 1rem 1rem 1px 1rem;
}



/******************* PRODUCTS HTML ******************************/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

/******************* CHECKOUT HTML ******************************/

.checkout-amount {
    text-align: center;
    border: 2px solid gray;
    box-shadow: 6px 6px rgba(52, 58, 64, .3);
    width: 10rem;
    font-size: 1.2rem;
    padding: 4px;
}

/******************* PRODUCT DETAILS HTML ******************************/

	.details-container {
		margin-top: 1rem;
	}

	.details-title {
		margin-top: 1rem;
		text-align: center;
	}

	.details-image-box {
		overflow: hidden;
        min-height: 60vh;
		padding: 15px 0;
	}

	.details-image {
		display: block;
		margin: auto;
		max-width: 94%;
		max-height: 70vh;
	}

	.details-category-room {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.details-category {
		margin: 4px 8px;
		text-transform: capitalize;
	}

	.details-room {
		margin: 4px 8px;
	}

	.details-small-title {
		font-size: 1.1rem;
		font-variant: small-caps;
	}

	.details-hashtag-group {
		padding: .5rem 2rem;
	}

	.details-hashtag {
		background-color: #0093ff;
		color: #eee;
		padding: .2rem .3rem;
        margin: .3rem;
        line-height: 200%;
		border-radius: .4rem 1rem;
	}

    .second-container {
        border: 0px solid red;
    }

	.details-size-header {
		margin-top: 1rem;
		text-align: center;
	}

	.details-size {
		width: 94%;
		height: 200px;
		background-color: #a7a7ff;
	}

	.details-description {
		margin: 1rem;
	}

	.details-techn-and-rating {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.details-technologies {
		text-align: center;
		margin-top: .2rem;
	}

	.details-rating {
		text-align: center;
		margin-top: .2rem;
	}

	.details-stars {
		text-align: center;
		margin-top: .4rem;
		font-size: 2rem;
	}

	.stars-outer {
		display: inline-block;
		position: relative;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: 'Font Awesome 5 Free';
	}

	.stars-outer::before {
		content: "\f005 \f005 \f005 \f005 \f005";
		color: #0093ff;
	}

	.stars-inner {
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
		overflow: hidden;
		font-style: normal;
		font-variant: normal;
		font-weight: 900;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		/* width: 0; */
	}

	.stars-inner::before {
		content: "\f005 \f005 \f005 \f005 \f005";
		color: #0093ff;
	}

    .details-technologies-list {
        text-transform: capitalize;
    }

    #technology {
		text-align: center;
		margin-top: .8rem;
        text-transform: capitalize;
    }

    .details-price-and-buttons {
        position: absolute;
        bottom: .5rem;
        right: 0;
        text-align: center;
    }

    .detalis-price {
        font-size: 1.7rem;
    }

/******************* PRODUCT EDIT HTML ******************************/

.edit-form {
    display: inline;
}

.edit-form-groups {
    display: block;
}

.edit-form-submit {
    float: right;
}
/******************* DASHBOARD HTML ******************************/

.dashboard-header {
    font-size: 1.1rem;
}

.dashboard-header > p {
    margin-bottom: 4px;
}

.dashboard-info {
    font-size: 1rem;
}

.dashboard-btn-container {
    display: flex;
    flex-direction: column-reverse;
}

.dashboard-image-container {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    width: 280px;
    height: 70vh;
}
.dashboard-image-box {
    position: relative;
    margin: 6px;
    box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.22);
    width: 32%;
    display: inline-block;
}

.dashboard-image {
    display: block;
    width: 100%;
    height: auto;
}

.dashboard-image > img {
    position: relative;
    max-width: 100%;
}

/* the containers that show up on hovering over the image-container  */
.overlay {
    position: absolute;
    bottom: 30px;
    height: 0;
    width: 0;
    opacity: 0;
    transition: .3s ease;
}
/* the one for the edit button */
.overlay-edit {
    left: 1.2rem;
}
/* the one for the hide button */
.overlay-hide {
    right: 3rem;
}

/* #hovering over the container let's increase the opacity of the overlay */
.dashboard-image-box:hover .overlay {
    opacity: .7;
}

.overlay-icon {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    position: absolute;
}

.overlay-icon .fas {
    background-color: #000;
    padding: 2px;
    border-radius: 5%;
}
/* The icons also colour and background colour when pointing to them */
.overlay-icon .fas:hover {
    color: #000;
    background-color: rgba(255, 255, 255, .9);
}
