body {
    background-color: bisque;
    margin-top: 50px;
}

.navbar{
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.fa-shopping-cart {
    font-size: 1rem;
    /* margin-top: -3px; */
    /* margin-bottom: -3px; */
}

/******************* PRODUCTS HTML ******************************/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

/******************* CHECKOUT HTML ******************************/

.checkout-amount {
    text-align: center;
    border: 2px solid gray;
    box-shadow: 6px 6px rgba(52, 58, 64, .3);
    width: 10rem;
    font-size: 1.2rem;
    padding: 4px;
}

/******************* PRODUCT DETAILS HTML ******************************/

	.details-container {
		margin-top: 70px;
	}

	.details-title {
		margin-top: 1rem;
		text-align: center;
	}

	.details-image-box {
		overflow: hidden;
		padding: 15px 0;
	}

	.details-image {
		display: block;
		margin: auto;
		max-width: 94%;
		max-height: 70vh;
	}

	.details-category-room {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.details-category {
		margin: 4px 8px;
		text-transform: capitalize;
	}

	.details-room {
		margin: 4px 8px;
	}

	.details-small-title {
		font-size: 1.1rem;
		font-variant: small-caps;
	}

	.details-hashtag-group {
		padding: .5rem 2rem;
	}

	.details-hashtag {
		background-color: #0093ff;
		color: #ddd;
		padding: .4rem;
		border-radius: .4rem 1rem;
	}

    .second-container {
        border: 0px solid red;
    }

	.details-size-header {
		margin-top: 1rem;
		text-align: center;
	}

	.details-size {
		width: 94%;
		height: 200px;
		background-color: #a7a7ff;
	}

	.details-description {
		margin: 1rem;
	}

	.details-techn-and-rating {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.details-technologies {
		text-align: center;
		margin-top: .2rem;
	}

	.details-rating {
		text-align: center;
		margin-top: .2rem;
	}

	.details-stars {
		text-align: center;
		margin-top: .4rem;
		font-size: 2rem;
	}

	.stars-outer {
		display: inline-block;
		position: relative;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: 'Font Awesome 5 Free';
	}

	.stars-outer::before {
		content: "\f005 \f005 \f005 \f005 \f005";
		color: #0093ff;
	}

	.stars-inner {
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
		overflow: hidden;
		font-style: normal;
		font-variant: normal;
		font-weight: 900;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		/* width: 0; */
	}

	.stars-inner::before {
		content: "\f005 \f005 \f005 \f005 \f005";
		color: #0093ff;
	}

    .details-technologies-list {
        text-transform: capitalize;
    }

    #technology {
		text-align: center;
		margin-top: .8rem;
        text-transform: capitalize;
    }

    .details-price-and-buttons {
        position: absolute;
        bottom: .5rem;
        right: 0;
        text-align: center;
    }

    .detalis-price {
        font-size: 1.7rem;
    }

