body {
    background-image: url('../images/body_background.png');
    background-color: #f7f7f9;
    background-repeat: repeat;
}

.page-wrapper {
    background-color: rgba(255, 229, 181, 0.97);
    min-height: 100vh;
    padding: 1rem .5rem;
}

.form-box {
    box-shadow: 4px 6px 30px 8px rgba(0,0,0,0.3);
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-top: 1rem;  */
}

.errorlist {
    color: red;
    list-style-type: none;
}

.error-msg {
    color: red;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.margin-for-navbar {
    margin-top: 60px;
}

.navbar-brand {
    padding-top: 0;
    margin-right: 1rem;
}

.navbar-logo {
    height: 2.8rem;
}

.cart-badge {
    padding: 5px;
    position: relative;
    top: -0.9rem;
    right: 0.3rem;
    border-radius: 50%;
}

.fa-shopping-cart {
    font-size: 1rem;
    /* margin-top: -3px; */
    /* margin-bottom: -3px; */
}

.message-container {
    position: fixed;
    top: 4rem;
    width: 60vw;
    left: 20vw;
    z-index: 500;
}

.message-line {
    margin: 0;
}


.display-link {
    text-decoration: underline;
    color: rgb(0, 119, 255);
}

.display-link:hover {
    font-weight: 900;
    color: rgb(0, 0, 255);
}

/* authentication */
.auth-container {
    padding: 1.5rem;
}

.auth-box {
    box-shadow: 4px 6px 30px 8px rgba(0,0,0,0.3);
    padding: 1rem;
    margin: 1rem;
}

/*                                     Quotes*/

.quotes-container {
    background-color: rgb(36, 68, 123);
    color: rgb(219, 187, 132);
}

.quote-card-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.blockquote-footer {
    color: rgb(219, 187, 132);
}

/*                                               FOOTER */

footer {
    background-color: #666;

}

.social-footer {
    height: 60px;
    text-align: center;
    background-color: #444;
}

footer i {
    font-size: 25px;
    border: solid #666 4px;
    border-radius: 50%;
    background-color: #666;
    color: white;
    margin: 11px 10px;
}

#facebook i {
    padding: 3px 4px 2px 4px;
}

#instagram i {
    padding: 3px 4px 2px 4px;
}

#linkedin i {
    padding: 3px 4px 2px 4px;
}

#twitter i {
    padding: 3px 2px 2px 4px;
}

#youtube i {
    padding: 3px 1px 2px 1px;
}

.text-footer {
    color: #ccc;
    margin-top: 20px;
    padding-top: 10px;
}

.text-footer h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.footer-items ul li a {
    text-decoration: none;
    color: #ccc;
}

.footer-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-items {
    height: 160px;
}



/******************* PRODUCTS HTML ******************************/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 250px; 
    height: 300px;
    margin: 1rem;
    /* margin: 0 auto; */
}

.cart-price {
    text-transform: capitalize;
    font-size: 1.1rem;
}

.input-group-text {
    background-color: #888888; 
    color: #ddd
}


.input-group select {
    text-transform: capitalize;
}

.image-display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 1199px) {
    .image-display-container {
        justify-content: space-around;
    }
}

.products-image-box {
    display: inline-block;
    position: relative;
    box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.22);
}

.products-image {
    display: block;
    max-width: 100%;
    max-height: 220px;
}

@media screen and (max-width: 1199px) {
    .products-image {
        max-height: 190px;
    }
}

@media screen and (max-width: 991px) {
    .products-image {
        max-height: 170px;
    }
}

.products-image > img {
    position: relative;
    max-height: 100%;
}

.products-image-box:hover .overlay {
    opacity: .7;
}

.overlay-title {
    top: 0.2rem;
    left: 1.2rem;
}
.overlay-rate {
    left: 1.2rem;
    bottom: 2.4rem;
}
.overlay-cart {
    right: 3.2rem;
    bottom: 2.4rem;
}

.overlay-icon span {
    background-color: #fff;
    padding: 3px;
    
}

.overlay-title-text {
    font-size: 1rem;
    white-space: pre;
}

/******************* CHECKOUT HTML ******************************/

.checkout-amount {
    text-align: center;
    border: 2px solid gray;
    box-shadow: 6px 6px rgba(52, 58, 64, .3);
    width: 10rem;
    font-size: 1.2rem;
    padding: 4px;
}

/******************* PRODUCT DETAILS HTML ******************************/

.details-container {
    padding: 1rem 0 0 0;
}

.details-title {
    margin-top: 1rem;
    text-align: center;
}

.details-image-box {
    overflow: hidden;
    min-height: 60vh;
    padding: 15px 0;
}

.details-image {
    display: block;
    margin: auto;
    max-width: 94%;
    max-height: 70vh;
}

.details-category-room {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.details-category {
    margin: 4px 8px;
    text-transform: capitalize;
}

.details-room {
    margin: 4px 8px;
}

.details-small-title {
    font-size: 1.1rem;
    font-variant: small-caps;
}

.details-hashtag-group {
    padding: .5rem 2rem;
}

.details-hashtag {
    background-color: #0093ff;
    color: #eee;
    padding: .2rem .3rem;
    margin: .3rem;
    line-height: 200%;
    border-radius: .4rem 1rem;
}

.second-container {
    margin: 1rem 0 0 0;
}

.second-content {
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
}
.details-size-header {
    margin-top: 1rem;
    text-align: center;
}

.details-size {
    width: 94%;
    height: 200px;
    background-color: #a7a7ff;
}

.details-description-box {
    margin-top: 1rem;
    height: 5rem;
    box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.22);
}

.details-likes-ratings-views {
    flex-direction: row;
    flex-wrap: row;
    justify-content: space-around;
}


.details-size-techn-and-rating {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.details-technologies {
    text-align: center;
    margin-top: .2rem;
}

.details-rating {
    text-align: center;
    margin-top: .2rem;
}

.details-stars {
    text-align: center;
    margin-top: .4rem;
    font-size: 2rem;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #0093ff;
}

	.stars-inner {
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
		overflow: hidden;
		font-style: normal;
		font-variant: normal;
		font-weight: 900;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		/* width: 0; */
	}

	.stars-inner::before {
		content: "\f005 \f005 \f005 \f005 \f005";
		color: #0093ff;
	}

    .details-technologies-list {
        text-transform: none;
    }

    #technology {
		text-align: center;
		margin-top: .8rem;
        text-transform: capitalize;
    }
    #size {
		text-align: center;
		margin-top: .8rem;
        text-transform: none;
    }

    .details-price-and-buttons {
        /* position: absolute;
        bottom: .5rem;
        right: 0; */
        text-align: center;
    }

    .detalis-price {
        font-size: 1.7rem;
    }

    .details-quantity {
        width: 220px;
    }

/******************* PRODUCT EDIT HTML ******************************/

.edit-form {
    display: inline;
}

.edit-form-groups {
    display: inline;
}

.edit-form-submit {
    float: bottom;
    margin: auto;
}

#id_hashtag {
    margin-bottom: 6rem;
}

.text-container p {
    text-align: justify;
    text-justify: inter-word;
}
/******************* DASHBOARD HTML ******************************/

.dashboard-header {
    font-size: 1.1rem;
}

.dashboard-header > p {
    margin-bottom: 4px;
}

.dashboard-info {
    font-size: 1rem;
}

.dashboard-btn-container {
    display: flex;
    flex-direction: column-reverse;
}

.dashboard-image-container {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    width: 280px;
    height: 70vh;
    overflow-x: scroll;
}
.dashboard-image-box {
    position: relative;
    margin: 6px;
    box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.22);
    width: 30%;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .dashboard-image-box{
        width: 45%;
    }
}

.dashboard-image {
    display: block;
    width: 100%;
    height: auto;
}

.dashboard-image > img {
    position: relative;
    max-width: 100%;
}

/* the containers that show up on hovering over the image-container  */
.overlay {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    transition: .3s ease;
}
/* the one for the edit button */
.overlay-edit {
    left: 1.2rem;
    bottom: 2.4rem;
}
/* the one for the hide button */
.overlay-hide {
    right: 3rem;
    bottom: 2.4rem;
}

/* #hovering over the container let's increase the opacity of the overlay */
.dashboard-image-box:hover .overlay {
    opacity: .7;
}

.overlay-icon {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    position: absolute;
}

.overlay-icon i {
    background-color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 50%;
}

/* The icons also colour and background colour when pointing to them */
.overlay-icon i:hover {
    color: #000;
    background-color: rgba(255, 80, 80, .9);
}


/****************************** RATING PAGE **********************************/

.rating-image-container {
    width: 95%;
    max-height: 75vh;
    margin: 0 auto;
    /* border: 1px solid #333; */
    overflow: hidden;
}

.rating-image-container img {
    max-width: 100%;
    max-height: 75vh;
    margin: auto;
    display: block;
}

.rating-form {
    text-align: center;
    margin: auto;
}
