{% extends 'base.html' %}

{% block page_title %} | Dashboard{% endblock %}

{% block content %}
<div class="container page-wrapper">
	<div class="row py-2 py-md-4">
		<div class="col-8 offset-1">
			<h2>Welcome {{ page_data.artist.0.artist_name }}!</h2>
			<div class="dashboard-header">
				<div>Your current badge is: {{ page_data.artist.0.badge }}</div>
				<div>
					Your are
					<span>
                        {% if not page_data.artist.0.wants_marketing %}
                            <strong>not</strong>
                        {% endif %}
                    </span>
                    subscribed to our marketing communications.
				</div>
				<p>
					Your are
					<span>
                        {% if not page_data.artist.0.wants_newsletter %}
                            <strong>not</strong>
                        {% endif %}
                    </span>
                    subscribed to our infrequent newsletters.
				</p>
			</div>
		</div>
        <div class="col-xs-7 xs-offset-4 col-md-3 md-offset-0 dashboard-btn-container">
            <a class="btn btn-success m-2" href="{% url 'file_upload' %}" role="button">Upload artwork</a>
            <a class="btn btn-info m-2" href="{% url 'artist_profile' %}" role="button">Modify Profile</a>
        </div>
	</div>


    <div class="row">
        <!-- Dashboard info column -->
        <div class="col-12 col-md-4 dashboard-info">
            <p>Number of uploaded artworks: 
                {{ page_data.products.count }}
            </p>
            <p>Number of items sold: 0</p>
            <p>Total earnings: £0</p>
            <p>Average ratings: {{ page_data.average_rating }}</p>
        </div>

        <!-- Dashboard images column -->
        <div class="col-12 col-md-8 dashboard-image-container">
            {% if page_data.products.count == 0 %}
            <div>
                <h5>You don't have any artworks uploaded yet, Click on the Upload Artwork button to start</h5>
            </div>
            {% endif %}
            {% for product in page_data.products %}
                <div class="dashboard-image-box" title="{{ product.title }}">
                    <a href="{% url 'product_details' product.id %}}">
                        <img class="dashboard-image" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.title }}">
                    </a>
                    <div class="overlay overlay-edit">
                    <a href="{% url 'modify_artwork' product.id %}" class="overlay-icon" title="Modify Artwork">
                        <i class="fas fa-edit"></i>
                    </a>
                    </div>
                    <div class="overlay overlay-hide">
                    <a href="{% url 'delete_artwork' product.id %}" class="overlay-icon" title="Delete Artwork">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>
	</div>

</div>

{% endblock %}