{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %} | Cart{% endblock %}

{% block content %}

<div class="container page-wrapper">
    <section class="container top-container">

        <div class="row row-flex mx-auto">
            {% for item in cart_items %}
            <div class="flex-cards card px-0 m-3" title="Click on the image to specify parameters, including size, print type and quantity">
                <div class="card-header text-center my-2">
                    <h4>
                        {{ item.product.title }}
                    </h4>
                </div>
                <a href="{% url 'product_details' item.id %}">
                    <div class="product" style="background-image: url({{ MEDIA_URL }}{{ item.product.image }})"></div>
                </a>
                <div class="card-body">
                    
                    <p class="cart-price text-center">
                    <span>£{{ item.unit_price }}</span><span style="font-size: 0.7rem;">&nbsp;per item</span>
                    </p>
                    <div class="card-footer">
                        <div class="form-group" style="border: 1px solid #888888;">
                            <span for="exampleInputAmount" class="sr-only bg-info">New Qty</span>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Qty</span>
                                </div>
                                <div class="mx-auto my-auto">
                                    {{item.quantity}}
                                </div>
                            </div>
                        </div>
 
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>

    </section>

    <div class="container text-center">
        <h4>Total:&nbsp;</h4>
        <p class="cart-price mx-1">
            <span style="font-weight: 900;">£{{ total }}</span>
        </p>
        {% if total != 0 %}
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
        {% endif %}

        {% if total == 0 %}
        <span>Your cart is empty, you can browse artworks</span>
        <a href="{% url 'products' %}" class="display-link" role="link">here</a>
        <span>...</span>
        {% endif %}


    </div>
</div>
{% endblock %}