{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}Cart{% endblock %}

{% block content %}

<div class="row row-flex">
	{% for item in cart_items %}
	<div class="col-xs-10 m-2 col-sm-6 col-md-4 m-md-3 display panel panel-default">
		<div class="product" style="background-image: url({{ MEDIA_URL }}{{ item.product.image }})"></div>
		<div class="caption">
			<h3>{{ item.product.title }}</h3>
			<p class="product-description">{{ item.product.description }}</p>
			<p>{{ item.product.base_repro_fee }}</p>
			<div>
				<form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputAmount" class="sr-only">New Qty</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">Qty</span>
							</div>
							<input name="quantity" id="exampleInputAmount" type="number" min="0" max="999" class="form-control" value="{{item.quantity}}">
						</div>
						</div>
						<button type="submit" class="btn btn-secondary p-2 ml-2">Update</button>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="container text-center">
	<p>Total:&nbsp;</p>
	<p class="mx-1">
		<i class="fas fa-pound-sign"></i><span>{{ total }}</span>
	</p>
	<a href="/" class="btn btn-success" role="button">Checkout</a>
	<!--Here comes the url of the checkout view once done-->
</div>

{% endblock %}